img{
    width:250px;
}
body {
    line-height: 1;
}
h1 {
    color: black;
    font-size: 23px;
}
.H_1 {
    font-size: 27px;
}
.H_2{
    text-align:center;
}
p {
    line-height: 25px;
    font-size: 17px;
    font-family: 'Times New Roman';
}
.P_1 {
    font-size: 19px;
    color: dimgrey;
}
.P_2{
    text-align:center;
}
    ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
}
.wrapper {
    width: 1300px;
    margin: 0 auto;
}

.header {
    height: 50px;
    background-color:dimgrey;
    text-align:center;
}


.middle {
    width: 100%;
    position: relative;
}

    .middle:after {
        display: table;
        clear: both;
        content: '';
    }

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 0 0 0 270px;
    background-color:darkgray;
}


.left-sidebar {
    float: left;
    width: 250px;
    margin-left: -100%;
    position: relative;
    background-color:darkgray;
}


.footer {
    height: 100px;
    background-color:black;
}
.nav_menu {
    text-align: center;
    margin-top: -50px;
    height: 100px;
}

    .nav_menu ul {
        position: center;
        top: 25px;
    }

    .nav_menu li {
        display: inline;
        font-size: 13px;
        text-transform: uppercase;
    }

        .nav_menu li span {
            font-size: 13px;
        }
