body {
    background-color: lightpink;
    margin: 5px 80px 5px 80px;
    min-width:750px;
}
header {
    background-color:lavender;
    /*закруглить > */
    border-radius: 13px;
}
    header > h1 {
        font-weight: normal;
        cursor: pointer;
        text-shadow: 1px 1px 0 
        hsl(20,100%,50%),
            2px 2px 0 hsl(20,100%,50%),
            3px 3px 0 hsl(35,100%,50%),
            4px 4px 0 hsl(35,100%,50%), 
            5px 5px 0 hsl(45,100%,50%), 
            6px 6px 0 hsl(45,100%,55%), 
            7px 7px 0 hsl(55,100%,60%), 
            8px 8px 0 hsl(55,100%,65%);
        color: hsl(0,100%,40%);
        transition: all 1s;
    }
header > h1:hover {
     text-shadow: 1px -1px 0 
   hsl(290,100%,40%),
     2px -2px 0 hsl(290,100%,40%),
     3px -3px 0 hsl(280,100%,60%),
     4px -4px 0 hsl(280,100%,60%),
       5px -5px 0 hsl(270,100%,75%),
      6px -6px 0 hsl(270,100%,80%), 
     7px -7px 0 hsl(260,100%,85%), 
     8px -8px 0 hsl(260,100%,90%);
    color: hsl(300,100%,30%);
}

   
main {
    background-color: whitesmoke;
    border: 5px solid #d9b552;
    height: 81px;
    border-radius: 13px;
    background-image: url("img/голубой-круг.png")
}
section {
    background-color: whitesmoke;
    border: 5px solid #d9b552;
    min-height: 500px;
    border-radius: 13px;
}
nav {
    float: none;
    width: 100%;
}
    nav ul {
        list-style: none;
    }
nav li {
  float: left;
   margin-right: 5px;
}
footer {
    background-color: lavender;
    border-radius: 13px;
    padding-left:99px;
}