img {
    width: 150px;
    height:130px;
    padding:7px;
}
h1 {
font-size:19px;
text-align:center;
}

p {
 font-size:17px;
}
.flex_container {
    display: flex;
    background-color: pink;
    flex-direction: row; /*Горизонт*/
    flex-wrap:wrap;
    /*Положение Текста*/
    /*align-items: flex-start;*/ /*слева*/
    /*justify-content:flex-start;*/
    /*align-items: flex-start;*/ /*справа*/
    /*justify-content:flex-end;*/
    align-items: baseline; /*по центру*/
    padding: 5px;
    width: 373px;
    height: 550px;
    max-width: 40em;
}
    .flex_container > div {
        background-color:deeppink;
    }
.DiV1{
    flex:1;
}
