body {
 
    font-family: "Franklin Gotlic Medium", "Arial Narrow", Arial, sans-serif;
}
 /*   1    (4 варианта стилей)*/
/* h1{
    color: #666666;
    font-size: 3em;
    font-weight: normal;
    margin: 0;
}

h2{
    color: rgba(50, 0, 240, 0.5);
    font-weight: normal;
}
p{
    color:#616161;
    line-height: 150%;
    margin-top: 10px;
    margin-left: 60px;
} */
/*   1    */

/*   2    */
/* html {
    padding-top: 25px;
    background-image: url(image/fon.png);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sana-serif;
    width: 80%;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    margin: 0 auto;
    background-color: rgba(252, 250, 250, 0.88);
} */

    /*   2   

/*   3    */

 /* h2 {
    color: #B1967C;
    font-weight: normal;
    border-bottom: 2px white solid;
    background-image: url(image/icon.png);
    background-repeat: no-repeat;
    padding: 0 0 4px 60px;
}

.first {
    margin: 0px;
    padding: 0px;
} */
/*   3    */

/*   4    */
.first {
    margin: 0px;
    padding: 0px;
    border-left: none;
}

p {
    color: #616161;
    line-height: 150%;
    margin-top: 10px;
    margin-left: 60px;
    border-left: 5px rgba(139, 187, 190, 0.87) solid;
    padding-left: 20px;
}