div.grid0 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr); /*повторить 1fr - 3 рза*/
    grid-gap: 2vw;
}
    div.grid0 > div {
        font-size: 21px;
        padding: .5em;
        background-color: goldenrod;
        text-align: center;
    }

div.grid1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr); /*повторить 1fr - 3 рза*/
    background-color: blue;
    /* grid-gap: 2vw; */
    margin-top: 20px;        
    padding: 15px;  
    height: 200px;
}
    div.grid1 > div {
        font-size: 21px;
        background-color: lightskyblue;
        text-align: center;
        border: 1px solid; /*  рамка */
    }