.grid {
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: repeat(2, 2fr);
    background-color: lightslategrey;
    border: solid;
    width: 500px;
    text-align: center;
}

    .grid > div {
        text-align: center;
        width: 133px;
        height: 133px;
        font-size: 17px;
        font-family: 'Times New Roman';
        color: honeydew;
    }
.fiolet{
    background-color:blueviolet;
}
.blue {
    background-color: blue;
}
.green {
    background-color: limegreen;
}

.grid#id7{
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: repeat(3, 2fr);
    margin-top: 20px;
}