p.H1:first-letter { /*на 1ю Букву слова*/
    color: aqua;
    font-size: 25px;
}
p.H1:first-line { /*на 1ю Бстроку*/
    color: dodgerblue;
    font-family: Arial;
}
p.H1 {
    font-family: 'Times New Roman';
    font-size: 17px;
}
h1.H1 {
    text-transform: capitalize;
    border-bottom-style: dotted;
    border-bottom-color: black;
}
hr.H1{
}

p.new::before { /*Вставить новое слово*/
    content: "Ого!";
    color: red; /*2021*/

}


p.H3:first-letter { /*на 1ю Букву слова*/
    color: red;
    font-size: 27px;
}
p.H3:first-line { /*на 1ю Строку !!!*/
    color:blue;
    font-family: Arial;
}
p.H3::before { /*Вставить новое слово*/
    content: "Начало!";
    color: green; /*2021*/
}
p.H3::after { /*Вставить новое слово*/
    content: "Конец!";
    color: palegreen; /*2021*/
}

.H4:hover{
    color:burlywood;
    
}